<% if user_signed_in? and current_user.has_role('Admin') %>
    <li>
      <%= link_to root_path do %>
          <i class="material-icons">dashboard</i>
          <span class="nav-label">Dashboard</span>
      <% end %>
    </li>

    <li>
      <%= link_to petitions_path do %>
          <i class="material-icons">category</i>
          <span class="nav-label">Petitions</span>
      <% end %>
    </li>

    <li>
      <%= link_to complaints_path do %>
          <i class="material-icons">category</i>
          <span class="nav-label">Complaints</span>
      <% end %>
    </li>

    <li>
      <%= link_to users_path do %>
          <i class="material-icons">people</i>
          <span class="nav-label">Users</span>
      <% end %>
    </li>

    <li>
      <%= link_to organization_types_path do %>
          <i class="material-icons">category</i>
          <span class="nav-label">Organization Types</span>
      <% end %>
    </li>

    <li>
      <%= link_to people_path do %>
          <i class="material-icons">group</i>
          <span class="nav-label">People</span>
      <% end %>
    </li>

    <li>
      <%= link_to organization_units_path do %>
          <i class="material-icons">store</i>
          <span class="nav-label">Organization Units</span>
      <% end %>
    </li>

    <li>
      <%= link_to sectors_path do %>
          <i class="material-icons">store</i>
          <span class="nav-label">Sectors</span>
      <% end %>
    </li>
<% end %>