<% if user_signed_in? and current_user.has_role('Admin') %>
    <li>
      <%= link_to root_path do %>
          <i class="material-icons">dashboard</i>
          <span>Dashboard</span>
      <% end %>
    </li>

    <li>
      <%= link_to petitions_path do %>
          <i class="material-icons">category</i>
          <span>Petitions</span>
      <% end %>
    </li>

    <li>
      <%= link_to users_path do %>
          <i class="material-icons">people</i>
          <span>Users</span>
      <% end %>
    </li>

    <li>
      <%= link_to government_body_types_path do %>
          <i class="material-icons">category</i>
          <span>Government Body Levels</span>
      <% end %>
    </li>

    <li>
      <%= link_to government_bodies_path do %>
          <i class="material-icons">store</i>
          <span>Government Bodies</span>
      <% end %>
    </li>

    <li>
      <%= link_to sectors_path do %>
          <i class="material-icons">store</i>
          <span>Sectors</span>
      <% end %>
    </li>
<% end %>