<ul class="navbar-nav pb-3 pb-lg-0">

      <% if current_user %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.try(:email) %>
        </a>
        <div class="dropdown-menu border-0 shadow animate slideIn" aria-labelledby="navbarDropdown">
          <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
          <%= link_to "Change Password", edit_user_registration_path, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "Logout", destroy_user_session_path, class: "dropdown-item" %>
        </div>
      </li>
      <% else %>
      &nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <%= link_to new_user_session_path do %>
              <span class="nav-link">Sign In <i class="glyphicon glyphicon-log-in"></i></span>
                <% end %>
          </li>
      <% end %>
    </ul>