<% unless current_user %>
    <ul class="navbar-nav mr-auto pt-3 pt-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="themesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Petitions
        </a>
        <div class="dropdown-menu dropdown-themes border-0 shadow animate slideIn" aria-labelledby="themesDropdown">
          <div class="d-lg-flex flex-row">
            <div class="dropdown-themes-callout d-none d-lg-flex p-5 text-center text-white align-items-center">
              <div>
                <h5>Petitions</h5>
                <p>Fully designed websites ready to modify and publish</p>
                <%= link_to new_petition_path do %>
                    <i class="fas fa-angle-right"></i>
                    <span class="btn btn-theme btn-xl">Start Petition</span>
                <% end %>
              </div>
            </div>
            <div class="py-lg-3">
              <%= link_to petitions_path do %>
                  <span class="dropdown-item font-weight-bold"> <i class="icon-list"></i> All Petitions</span>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to petitions_path(type: Constants::ACTIVE) do %>
                  <span class="dropdown-item font-weight-bold"> <i class="icon-cursor"></i> Active Petitions</span>
              <% end %>
              <%= link_to petitions_path(type: Constants::RESOLVED) do %>
                  <span class="dropdown-item font-weight-bold"> <i class="icon-check"></i> Resolved Petitions</span>
              <% end %>
              <%= link_to petitions_path(type: Constants::UNDER_REVIEW) do %>
                  <span class="dropdown-item font-weight-bold"> <i class="icon-question"> </i> Petitions Under Review</span>
              <% end %>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to home_complaints_path do %>
            <span class="nav-link">Complaints</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to home_guides_path do %>
            <span class="nav-link">Guides</span>
        <% end %>
      </li>

    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <%= link_to new_petition_path do %>
            <span class="nav-link btn-sm btn-success" style="color: white">Start Petition</span>
        <% end %>
      </li>
    </ul>
<% end %>