<% if user_signed_in? and current_user.role.blank? %>
    <li>
      <%= link_to root_path do %>
          <i class="material-icons">home</i>
          <span>Home</span>
      <% end %>
    </li>
    <li>
      <%= link_to current_user do %>
          <i class="material-icons">person</i>
          <span>My Profile</span>
      <% end %>
    </li>

    <li>
      <a href="javascript:void(0);" class="menu-toggle">
        <i class="material-icons">dashboard</i>
        <span class="nav-label">Petitions</span>
      </a>
      <ul>
        <li><%= link_to 'My Petitions', petitions_path %></li>
        <li><%= link_to 'All Petitions', petitions_path(type: 'all') %></li>
        <li><%= link_to 'Start Petition', new_petition_path %></li>
      </ul>
    </li>

    <li>
      <a href="javascript:void(0);" class="menu-toggle">
        <i class="material-icons">dashboard</i>
        <span class="nav-label">Complaints</span>
      </a>
      <ul>
        <li><%= link_to 'My Complaints', complaints_path %></li>
        <li><%= link_to 'Submit Complaint', new_complaint_path %></li>
      </ul>
    </li>

<% end %>