<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @signature.user %>
</p>

<p>
  <strong>Petition:</strong>
  <%= @signature.petition %>
</p>

<%= link_to 'Edit', edit_signature_path(@signature) %> |
<%= link_to 'Back', signatures_path %>
