<%= simple_nested_form_for(@complaint) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :organization_unit, prompt: true %>
    <%= f.input :title %>
    <%= f.input :body, input_html: {class: 'wysihtml5'} %>
    <div class="row">
      <label class="col-sm-3 col-form-label">
        Supporting Documents (optional)
      </label>
      <div class="col-sm-9">
        <%= render partial: 'documents', locals: {f: f} %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
