<div class="panel-heading">
  Complaints
</div>
<div class="panel-body">
  <table class="table table-striped table-responsive dataTable js-exportable">
    <thead>
    <tr>
      <th>#</th>
      <th>Complaint by</th>
      <th>Complaint Recipient</th>
      <th>Title</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% counter = 1 %>
    <% @complaints.each do |complaint| %>
      <tr>
        <td><%= counter %></td>
        <td><%= complaint.user %></td>
        <td><%= complaint.organization_unit %></td>
        <td><%= complaint.title %></td>
        <td><%= complaint.status %></td>
        <td><%= link_to 'Details', complaint %> |
         <%= link_to 'Edit', edit_complaint_path(complaint) %> |
         <%= link_to 'Delete', complaint, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
  <% counter += 1 %>
    <% end %>
  </tbody>
</table>
</div>