<% content_for :header do %>
    <div class="row">
      <div class="col-sm-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            Complaint Details
          </div>
          <div class="panel-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
              <li role="presentation" class="active"><a href="#complaint_details" data-toggle="tab" aria-expanded="false"><i class="fa fa-user m-r-5"></i> Complaint Details</a></li>
              <li role="presentation"><a href="#complaint_commitee" data-toggle="tab" aria-expanded="false"><i class="fa fa-graduation-cap m-r-5"></i> Complaint Review Commitee</a></li>
              <li role="presentation"><a href="#review_report" data-toggle="tab" aria-expanded="false"><i class="fa fa-graduation-cap m-r-5"></i> Review Report</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="complaint_details">
                <h3><%= @complaint.title %></h3>
                <p><strong>Complaint by:</strong> <%= link_to @complaint.user, @complaint.user %></p>
                <p><strong>Status:</strong> <%= @complaint.complaint_status %></p>
                <hr/>
                <p><%= raw @complaint.body %></p>
                <% if @complaint.documents %>
                    <h4>Supporting Documents</h4>
                    <% @complaint.documents.each do |d| %>
                        <p><%= link_to d.try(:name), d.try(:attachment) %></p>
                    <% end %>
                <% end %>
              </div>

              <div role="tabpanel" class="tab-pane fade" id="complaint_commitee">
                <% if @complaint.cr_committee %>
                      <div>
                        <label>Review Deadline: </label>
                        <span><%= @complaint.cr_committee.deadline.strftime("%B %d, %Y") %></span>
                      </div>
                      <legend>Committee Members</legend>
                      <% @complaint.cr_committee.cr_committee_members.each do |member| %>
                          <div>
                            <span><%= image_tag member.user.photo, width: '100px', class: 'img-circle' rescue nil %>
                              <label><span class="font-20"><%= member.user %></span><br/> <%= member.role %></label>
                            </span>
                          </div>
                          <hr/>
                      <% end %>
                    <%= link_to 'Edit', edit_cr_committee_path(@complaint.cr_committee), class: 'btn btn-primary' %>
                <% end %>
                <% unless @complaint.cr_committee %>
                    <%= link_to 'Assign Review Commitee', new_cr_committee_path(complaint: @complaint.id), class: 'btn btn-primary' %>
                <% end %>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="review_report">
                <table class="table">
                  <tr>
                    <th>Report Title</th>
                    <th>Report Date</th>
                    <th>Complaint Status</th>
                    <th>Remark</th>
                    <th>Document</th>
                    <th></th>
                  </tr>
                  <% @complaint.complaint_reports.order('created_at DESC').each do |cr| %>
                      <tr>
                        <td><%= cr.title %></td>
                        <td><%= cr.report_date.strftime("%B %d, %Y") %></td>
                        <td><%= cr.decision %></td>
                        <td><%= cr.remark %></td>
                        <td>
                          <% if cr.document.attached? %>
                              <%= link_to cr.document do %>
                                  <button type="button" class="btn btn-outline"><i class="material-icons">file_download</i>download</button>
                              <% end %>
                          <% end %>
                        </td>
                        <td><%= link_to 'Edit', edit_complaint_report_path(cr), class: 'btn btn-primary' %></td>
                      </tr>
                  <% end %>
                </table>
                <%= link_to 'Add Review Report', new_complaint_report_path(complaint: @complaint.id), class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              Client Feedback
            </div>
            <div class="panel-body">
              <div class="d-flex justify-content-between small" style="width: 100%">
                <% if @complaint.complaint_client_satisfaction %>
                    <div class="complaint-rating-review" data-score = "<%= @complaint.complaint_client_satisfaction.rating rescue nil %>"></div>
                    <%= @complaint.complaint_client_satisfaction.feedback rescue nil %>
                <% else %>
                    <h4>No feedback yet</h4>
                    <hr/>
                <% end %>

                <% if @complaint.complaint_client_satisfaction.blank? and @complaint.user_id == current_user.id  %>
                    <h4>Are you satisfied with the solution?</h4>
                    <hr/>
                    <%= simple_form_for(ComplaintClientSatisfaction.new) do |f| %>
                        <%= f.error_notification %>

                        <div class="form-inputs">
                          <%= f.association :complaint, as: :hidden, input_html: {value: @complaint.id} %>
                          <div id="complaint-rating"><label>Rating</label> </div>
                          <%= f.input :feedback, wrapper: 'vertical_form' %>
                        </div>

                        <div class="form-actions">
                          <%= f.button :submit, 'Submit' %>
                        </div>
                    <% end %>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
<% end %>