<p id="notice"><%= notice %></p>

<p>
  <strong>Petition:</strong>
  <%= @sign_petition.petition %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @sign_petition.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @sign_petition.email %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @sign_petition.remark %>
</p>

<%= link_to 'Edit', edit_sign_petition_path(@sign_petition) %> |
<%= link_to 'Back', sign_petitions_path %>
