<div class="panel-heading">
  Sectors
</div>
<div class="panel-body">
<table class="table dataTable js-exportable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sectors.each do |sector| %>
      <tr>
        <td><%= sector.name %></td>
        <td><%= sector.description %></td>
        <td>
          <%= link_to 'Edit', edit_sector_path(sector) %> |
        <%= link_to 'Delete', sector, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <hr/>
<%= link_to 'Add Sector', new_sector_path %>
</div>