<%= simple_nested_form_for(@pr_committee) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :petition, as: :hidden %>
    <%= f.input :deadline, label: 'Petition Review Deadline', as: :string, input_html: {"data-format": "YYYY-MM-DD",class: "js-dtp"} %>
    <%= render partial: 'members', locals: {f: f} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
