<%= simple_form_for(@pr_committee) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :petition %>
    <%= f.input :name %>
    <%= f.input :deadline %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
