<hr/>
<div class="row">
	<label class="col-sm-3 col-form-label">committee members</label>
	<div class="col-sm-9">
		<%= f.simple_fields_for :pr_commitee_members do |cf| %>
				<div class="row fields">
					<div class="col-sm-5"><%= cf.input :person_id, label: false, prompt: 'Select Member', collection: @organization_members.collect{|x| [x.to_s, x.id]} %></div>
					<div class="col-sm-5"><%= cf.input :role, label: false, prompt: 'Select Role', collection: ['Chair Person', 'Secretary', 'Member'] %></div>
					<div class="col-sm-2">
						<%= cf.link_to_remove do %>
								<button type="button" class="btn btn-rounded btn-outline btn-danger"><i class="fa fa-close"></i> Remove</button>
						<% end %>
					</div>
				</div>
				<%= javascript_include_tag 'global' %>
		<% end %>

		<%= f.link_to_add :pr_commitee_members do %>
				<button type="button" class="btn btn-outline btn-primary"><i class="fa fa-plus"></i> Add Member</button>
		<% end %>
	</div>
</div>
