<p id="notice"><%= notice %></p>

<h1>Pr Committees</h1>

<table>
  <thead>
    <tr>
      <th>Petition</th>
      <th>Name</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pr_committees.each do |pr_committee| %>
      <tr>
        <td><%= pr_committee.petition %></td>
        <td><%= pr_committee.name %></td>
        <td><%= pr_committee.deadline %></td>
        <td><%= link_to 'Show', pr_committee %></td>
        <td><%= link_to 'Edit', edit_pr_committee_path(pr_committee) %></td>
        <td><%= link_to 'Destroy', pr_committee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pr Committee', new_pr_committee_path %>
