<p id="notice"><%= notice %></p>

<p>
  <strong>Petition:</strong>
  <%= @pr_committee.petition %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @pr_committee.deadline %>
</p>

<%= link_to 'Edit', edit_pr_committee_path(@pr_committee) %> |
<%= link_to 'Back', pr_committees_path %>
