<div class="panel-heading">
  Government Bodies
</div>
<div class="panel-body">
  <table class="table dataTable">
  <thead class="thead-light">
    <tr>
      <th>Government body type</th>
      <th>Name</th>
      <th>Parent Government Body</th>
      <th>City</th>
      <th>Url</th>
      <th>Email</th>
      <th>Phone</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @government_bodies.each do |government_body| %>
      <tr>
        <td><%= government_body.government_body_type %></td>
        <td><%= government_body.name %></td>
        <td><%= government_body.parent_government_body %></td>
        <td><%= government_body.city %></td>
        <td><%= government_body.url %></td>
        <td><%= government_body.email %></td>
        <td><%= government_body.phone %></td>
        <td>
          <%= link_to edit_government_body_path(government_body) do %>
              <button type="button" class="btn btn-outline btn-primary"><i class="fa fa-edit"></i> Edit</button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <hr/>
  <%= link_to new_government_body_path do %>
      <button type="button" class="btn btn-outline btn-primary"><i class="fa fa-plus"></i> Add New Government Body</button>
  <% end %>
</div>