<p id="notice"><%= notice %></p>

<h1>Petition Review Members</h1>

<table>
  <thead>
    <tr>
      <th>Government body</th>
      <th>Name</th>
      <th>Profession</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @petition_review_members.each do |petition_review_member| %>
      <tr>
        <td><%= petition_review_member.government_body %></td>
        <td><%= petition_review_member.name %></td>
        <td><%= petition_review_member.profession %></td>
        <td><%= petition_review_member.phone %></td>
        <td><%= petition_review_member.email %></td>
        <td><%= link_to 'Show', petition_review_member %></td>
        <td><%= link_to 'Edit', edit_petition_review_member_path(petition_review_member) %></td>
        <td><%= link_to 'Destroy', petition_review_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Petition Review Member', new_petition_review_member_path %>
