<div class="panel-heading">
  Petition Review Members
</div>
<div class="panel-body">
<table class="table">
  <thead>
    <tr>
      <th>Organization unit</th>
      <th>Name</th>
      <th>Profession</th>
      <th>Phone</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @petition_review_members.each do |petition_review_member| %>
      <tr>
        <td><%= petition_review_member.organization_unit %></td>
        <td><%= petition_review_member.name %></td>
        <td><%= petition_review_member.profession %></td>
        <td><%= petition_review_member.phone %></td>
        <td><%= petition_review_member.email %></td>
        <td>
        <td><%= link_to 'Edit', edit_petition_review_member_path(petition_review_member) %> |
          <%= link_to 'Delete', petition_review_member, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to new_petition_review_member_path  do %>
    <button type="button" class="btn btn-outline btn-primary"><i class="fa fa-plus"></i> Add Petition Review Member </button>
<% end %>
</div>