<p id="notice"><%= notice %></p>

<h1>Government Body Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @government_body_types.each do |government_body_type| %>
      <tr>
        <td><%= government_body_type.name %></td>
        <td><%= government_body_type.description %></td>
        <td><%= link_to 'Show', government_body_type %></td>
        <td><%= link_to 'Edit', edit_government_body_type_path(government_body_type) %></td>
        <td><%= link_to 'Destroy', government_body_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Government Body Type', new_government_body_type_path %>
