<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @government_body_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @government_body_type.description %>
</p>

<%= link_to 'Edit', edit_government_body_type_path(@government_body_type) %> |
<%= link_to 'Back', government_body_types_path %>
