<p id="notice"><%= notice %></p>

<h1>Petition Client Satisfactions</h1>

<table>
  <thead>
    <tr>
      <th>Petition</th>
      <th>Rating</th>
      <th>Feedback</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @petition_client_satisfactions.each do |petition_client_satisfaction| %>
      <tr>
        <td><%= petition_client_satisfaction.petition %></td>
        <td><%= petition_client_satisfaction.rating %></td>
        <td><%= petition_client_satisfaction.feedback %></td>
        <td><%= link_to 'Show', petition_client_satisfaction %></td>
        <td><%= link_to 'Edit', edit_petition_client_satisfaction_path(petition_client_satisfaction) %></td>
        <td><%= link_to 'Destroy', petition_client_satisfaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Petition Client Satisfaction', new_petition_client_satisfaction_path %>
