<div class="panel-heading">
  Petitions Report
</div>

<div class="panel-body">
  <%= simple_form_for :report, url: reports_petitions_path, :remote => true do |f| %>
      <div class="row">
        <div class="col-sm-4">
          <div id="petition_report_organization_unit_tree"></div>
          <%=  f.input :organization_unit, as: :hidden, required: false %>
        </div>
        <div class="col-sm-4">
          <%= f.input :sector, collection: Sector.all, prompt: true %>
          <%= f.input :status, collection: Constants::PETITTION_STATUSES, prompt: true %>
        </div>

        <div class="col-sm-4">
          <%= f.input :from, as: :string, input_html: {"data-format": "YYYY-MM-DD",class: "js-dtp"} %>
          <%= f.input :to, as: :string, input_html: {"data-format": "YYYY-MM-DD",class: "js-dtp"} %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-4 col-sm-8">
          <%= f.button :submit, 'Reset Form', type: :reset %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.button :submit, 'Search' %>
        </div>
      </div>

  <% end %>
  <hr/>

  <div id="petitions_report">
    <%= render partial: '/petitions/petitions' %>
  </div>

</div>